@tailwind base;

@tailwind utilities;

html,
body {
  background-color: black;
  color: #e7e9ea;
}

a,
input,
button,
textarea {
  -webkit-tap-highlight-color: transparent;
}

@tailwind components {
  .hover-animation {
    @apply transition-colors duration-200;
  }

  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
  }
}
